In [1]:
import xarray as xr
import geopandas as gpd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
# gribfile = "/Users/yylab/ikkifik/research/era5-reanalysis/_archives/ofunato_t2m_tp.grib"
# gribfile = "../era5_cache/20260122_233148_20161_202512.grib"
gribfile = "../era5_cache/20260122_233148_20161_202512.grib"
t2m_dataset = xr.open_dataset(gribfile, engine="cfgrib")
tp_dataset = xr.open_dataset(gribfile, engine="cfgrib", backend_kwargs={'filter_by_keys': {'shortName': 'tp'}})

skipping variable: paramId==228 shortName='tp'
Traceback (most recent call last):
  File "/Users/yylab/miniconda3/envs/exp/lib/python3.12/site-packages/cfgrib/dataset.py", line 726, in build_dataset_components
    dict_merge(variables, coord_vars)
  File "/Users/yylab/miniconda3/envs/exp/lib/python3.12/site-packages/cfgrib/dataset.py", line 642, in dict_merge
    raise DatasetBuildError(
cfgrib.dataset.DatasetBuildError: key present and new value is different: key='time' value=Variable(dimensions=('time',), data=array([1451653200, 1451739600, 1451826000, ..., 1767013200, 1767099600,
       1767186000], shape=(3653,))) new_value=Variable(dimensions=('time',), data=array([1451628000, 1451714400, 1451800800, ..., 1766988000, 1767074400,
       1767160800], shape=(3653,)))

In [3]:
tp_df = tp_dataset.to_dataframe().reset_index()
# tp_gdf = gpd.GeoDataFrame(tp_df[['valid_time', 'tp']], geometry=gpd.points_from_xy(df.longitude,df.latitude))

t2m_df = t2m_dataset.to_dataframe().reset_index()
# t2m_df['t2m'] = t2m_df['t2m'].apply(lambda c: c-273.15)
# t2m_gdf = gpd.GeoDataFrame(t2m_df[['valid_time', 't2m']], geometry=gpd.points_from_xy(df.longitude,df.latitude))

In [4]:
tp_df.head(3)

,time,latitude,longitude,number,step,surface,valid_time,tp
0,2016-01-01 06:00:00,39.505,141.0000,0,0 days 07:00:00,0.0,2016-01-01 13:00:00,1.907028e-06
1,2016-01-01 06:00:00,39.505,141.2502,0,0 days 07:00:00,0.0,2016-01-01 13:00:00,9.534997e-07
2,2016-01-01 06:00:00,39.505,141.5004,0,0 days 07:00:00,0.0,2016-01-01 13:00:00,4.766625e-07

In [12]:
t2m_df.loc[1400:1450]

,time,latitude,longitude,number,step,surface,valid_time,t2m
1400,2016-02-28 13:00:00,39.255,141.5004,0,0 days,0.0,2016-02-28 13:00:00,272.453857
1401,2016-02-28 13:00:00,39.255,141.7506,0,0 days,0.0,2016-02-28 13:00:00,273.910889
1402,2016-02-28 13:00:00,39.255,142.0008,0,0 days,0.0,2016-02-28 13:00:00,277.183350
1403,2016-02-28 13:00:00,39.255,142.2510,0,0 days,0.0,2016-02-28 13:00:00,278.404785
1404,2016-02-28 13:00:00,39.005,141.0000,0,0 days,0.0,2016-02-28 13:00:00,273.818115
1405,2016-02-28 13:00:00,39.005,141.2502,0,0 days,0.0,2016-02-28 13:00:00,274.824951
1406,2016-02-28 13:00:00,39.005,141.5004,0,0 days,0.0,2016-02-28 13:00:00,275.093994
1407,2016-02-28 13:00:00,39.005,141.7506,0,0 days,0.0,2016-02-28 13:00:00,276.449951
1408,2016-02-28 13:00:00,39.005,142.0008,0,0 days,0.0,2016-02-28 13:00:00,278.576904
1409,2016-02-28 13:00:00,39.005,142.2510,0,0 days,0.0,2016-02-28 13:00:00,279.170410
1410,2016-02-28 13:00:00,38.754,141.0000,0,0 days,0.0,2016-02-28 13:00:00,274.465820
1411,2016-02-28 13:00:00,38.754,141.2502,0,0 days,0.0,2016-02-28 13:00:00,276.555664
1412,2016-02-28 13:00:00,38.754,141.5004,0,0 days,0.0,2016-02-28 13:00:00,277.406494
1413,2016-02-28 13:00:00,38.754,141.7506,0,0 days,0.0,2016-02-28 13:00:00,278.541260
1414,2016-02-28 13:00:00,38.754,142.0008,0,0 days,0.0,2016-02-28 13:00:00,279.459717
1415,2016-02-28 13:00:00,38.754,142.2510,0,0 days,0.0,2016-02-28 13:00:00,279.251221
1416,2016-02-29 13:00:00,39.505,141.0000,0,0 days,0.0,2016-02-29 13:00:00,272.689087
1417,2016-02-29 13:00:00,39.505,141.2502,0,0 days,0.0,2016-02-29 13:00:00,271.588135
1418,2016-02-29 13:00:00,39.505,141.5004,0,0 days,0.0,2016-02-29 13:00:00,271.524414
1419,2016-02-29 13:00:00,39.505,141.7506,0,0 days,0.0,2016-02-29 13:00:00,272.540894
1420,2016-02-29 13:00:00,39.505,142.0008,0,0 days,0.0,2016-02-29 13:00:00,275.451294
1421,2016-02-29 13:00:00,39.505,142.2510,0,0 days,0.0,2016-02-29 13:00:00,276.837524
1422,2016-02-29 13:00:00,39.255,141.0000,0,0 days,0.0,2016-02-29 13:00:00,273.292969
1423,2016-02-29 13:00:00,39.255,141.2502,0,0 days,0.0,2016-02-29 13:00:00,273.121826
1424,2016-02-29 13:00:00,39.255,141.5004,0,0 days,0.0,2016-02-29 13:00:00,273.281860
1425,2016-02-29 13:00:00,39.255,141.7506,0,0 days,0.0,2016-02-29 13:00:00,274.203369
1426,2016-02-29 13:00:00,39.255,142.0008,0,0 days,0.0,2016-02-29 13:00:00,275.608032
1427,2016-02-29 13:00:00,39.255,142.2510,0,0 days,0.0,2016-02-29 13:00:00,276.453613
1428,2016-02-29 13:00:00,39.005,141.0000,0,0 days,0.0,2016-02-29 13:00:00,273.935181
1429,2016-02-29 13:00:00,39.005,141.2502,0,0 days,0.0,2016-02-29 13:00:00,274.958008
1430,2016-02-29 13:00:00,39.005,141.5004,0,0 days,0.0,2016-02-29 13:00:00,274.924561
1431,2016-02-29 13:00:00,39.005,141.7506,0,0 days,0.0,2016-02-29 13:00:00,275.022217
1432,2016-02-29 13:00:00,39.005,142.0008,0,0 days,0.0,2016-02-29 13:00:00,276.410278
1433,2016-02-29 13:00:00,39.005,142.2510,0,0 days,0.0,2016-02-29 13:00:00,276.766846
1434,2016-02-29 13:00:00,38.754,141.0000,0,0 days,0.0,2016-02-29 13:00:00,275.105103
1435,2016-02-29 13:00:00,38.754,141.2502,0,0 days,0.0,2016-02-29 13:00:00,276.084351
1436,2016-02-29 13:00:00,38.754,141.5004,0,0 days,0.0,2016-02-29 13:00:00,275.932251
1437,2016-02-29 13:00:00,38.754,141.7506,0,0 days,0.0,2016-02-29 13:00:00,275.981934
1438,2016-02-29 13:00:00,38.754,142.0008,0,0 days,0.0,2016-02-29 13:00:00,276.823975
1439,2016-02-29 13:00:00,38.754,142.2510,0,0 days,0.0,2016-02-29 13:00:00,276.672852
1440,2016-03-01 13:00:00,39.505,141.0000,0,0 days,0.0,2016-03-01 13:00:00,269.901001
1441,2016-03-01 13:00:00,39.505,141.2502,0,0 days,0.0,2016-03-01 13:00:00,268.253174
1442,2016-03-01 13:00:00,39.505,141.5004,0,0 days,0.0,2016-03-01 13:00:00,267.878296
1443,2016-03-01 13:00:00,39.505,141.7506,0,0 days,0.0,2016-03-01 13:00:00,268.691528
1444,2016-03-01 13:00:00,39.505,142.0008,0,0 days,0.0,2016-03-01 13:00:00,271.638672
1445,2016-03-01 13:00:00,39.505,142.2510,0,0 days,0.0,2016-03-01 13:00:00,273.291260
1446,2016-03-01 13:00:00,39.255,141.0000,0,0 days,0.0,2016-03-01 13:00:00,270.472534
1447,2016-03-01 13:00:00,39.255,141.2502,0,0 days,0.0,2016-03-01 13:00:00,269.910034
1448,2016-03-01 13:00:00,39.255,141.5004,0,0 days,0.0,2016-03-01 13:00:00,269.688354
1449,2016-03-01 13:00:00,39.255,141.7506,0,0 days,0.0,2016-03-01 13:00:00,270.374146
1450,2016-03-01 13:00:00,39.255,142.0008,0,0 days,0.0,2016-03-01 13:00:00,272.212524

In [10]:
import pandas as pd
join = pd.merge(t2m_df, tp_df[['tp']], on=t2m_df.index, how='left')
join.head(2)

,key_0,time,latitude,longitude,number,step,surface,valid_time,t2m,tp
0,0,2016-01-01 13:00:00,39.505,141.0000,0,0 days,0.0,2016-01-01 13:00:00,-0.400000,1.907028e-06
1,1,2016-01-01 13:00:00,39.505,141.2502,0,0 days,0.0,2016-01-01 13:00:00,-1.011206,9.534997e-07

In [11]:
gdf = gpd.GeoDataFrame(
    join, geometry=gpd.points_from_xy(join.longitude, join.latitude), crs="EPSG:4326"
)

gdf = gdf.drop(columns=["number", "step", "time", "surface", "key_0", "latitude", "longitude"])
gdf['date'] = pd.to_datetime(gdf['valid_time']).dt.date
gdf['date'] = pd.to_datetime(gdf['date'], format='%Y-%m-%d')
gdf['time'] = pd.to_datetime(gdf['valid_time']).dt.time

gdf.head(10 )

,valid_time,t2m,tp,geometry,date,time
0,2016-01-01 13:00:00,-0.400000,1.907028e-06,POINT (141 39.505),2016-01-01,13:00:00
1,2016-01-01 13:00:00,-1.011206,9.534997e-07,POINT (141.2502 39.505),2016-01-01,13:00:00
2,2016-01-01 13:00:00,-0.932349,4.766625e-07,POINT (141.5004 39.505),2016-01-01,13:00:00
3,2016-01-01 13:00:00,-0.134985,0.000000e+00,POINT (141.7506 39.505),2016-01-01,13:00:00
4,2016-01-01 13:00:00,2.907007,0.000000e+00,POINT (142.0008 39.505),2016-01-01,13:00:00
5,2016-01-01 13:00:00,4.171899,0.000000e+00,POINT (142.251 39.505),2016-01-01,13:00:00
6,2016-01-01 13:00:00,-1.374731,9.706127e-07,POINT (141 39.255),2016-01-01,13:00:00
7,2016-01-01 13:00:00,-0.956885,4.853064e-07,POINT (141.2502 39.255),2016-01-01,13:00:00
8,2016-01-01 13:00:00,-0.346045,8.469215e-09,POINT (141.5004 39.255),2016-01-01,13:00:00
9,2016-01-01 13:00:00,0.758081,0.000000e+00,POINT (141.7506 39.255),2016-01-01,13:00:00

In [12]:
len(gdf), gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 87672 entries, 0 to 87671
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   valid_time  87672 non-null  datetime64[ns]
 1   t2m         87672 non-null  float64
 2   tp          87672 non-null  float32
 3   geometry    87672 non-null  geometry
 4   date        87672 non-null  datetime64[ns]
 5   time        87672 non-null  object
dtypes: datetime64[ns](2), float32(1), float64(1), geometry(1), object(1)
memory usage: 3.7+ MB

(87672, None)

In [82]:
# take the 2020-01-01 value
gdf_2020_01_01 = gdf.loc[(gdf['date'] == '2020-01-01')]
gdf_2020_01_01.head()

,valid_time,t2m,tp,geometry,date,time
0,2020-01-01 10:00:00,-1.217017,0.000135,POINT (141 39.505),2020-01-01,10:00:00
1,2020-01-01 10:00:00,-2.085181,0.000101,POINT (141.2502 39.505),2020-01-01,10:00:00
2,2020-01-01 10:00:00,-2.485327,0.000059,POINT (141.5004 39.505),2020-01-01,10:00:00
3,2020-01-01 10:00:00,-1.774146,0.000023,POINT (141.7506 39.505),2020-01-01,10:00:00
4,2020-01-01 10:00:00,1.484521,0.000005,POINT (142.0008 39.505),2020-01-01,10:00:00

In [83]:
gdf_2020_01_01.sort_values("geometry").head(10)

,valid_time,t2m,tp,geometry,date,time
114,2020-01-01 14:00:00,1.435938,0.000027,POINT (141 38.754),2020-01-01,14:00:00
162,2020-01-01 16:00:00,1.157251,0.000026,POINT (141 38.754),2020-01-01,16:00:00
90,2020-01-01 13:00:00,1.453638,0.000027,POINT (141 38.754),2020-01-01,13:00:00
42,2020-01-01 11:00:00,1.559229,0.000024,POINT (141 38.754),2020-01-01,11:00:00
18,2020-01-01 10:00:00,1.626611,0.000021,POINT (141 38.754),2020-01-01,10:00:00
138,2020-01-01 15:00:00,1.215234,0.000024,POINT (141 38.754),2020-01-01,15:00:00
66,2020-01-01 12:00:00,1.588403,0.000025,POINT (141 38.754),2020-01-01,12:00:00
67,2020-01-01 12:00:00,2.233667,0.000011,POINT (141.2502 38.754),2020-01-01,12:00:00
19,2020-01-01 10:00:00,2.237817,0.000009,POINT (141.2502 38.754),2020-01-01,10:00:00
139,2020-01-01 15:00:00,1.894067,0.000011,POINT (141.2502 38.754),2020-01-01,15:00:00

In [118]:
gdf_agg = gdf_2020_01_01.groupby(by="geometry").agg(
    t2m_mean=('t2m', 'mean'), 
    tp_mean=('tp', 'mean'),
    date_min=('date', 'min')
)
gdf_agg

                         t2m_mean       tp_mean   date_min
geometry
POINT (141 38.754)       1.433758  2.507386e-05 2020-01-01
POINT (141.2502 38.754)  2.083939  1.129428e-05 2020-01-01
POINT (141.5004 38.754)  2.504646  6.188239e-06 2020-01-01
POINT (141.5004 39.005)  1.006808  1.376096e-05 2020-01-01
POINT (141.2502 39.005)  0.962863  3.360824e-05 2020-01-01
POINT (141 39.005)       0.262981  5.256731e-05 2020-01-01
POINT (141.2502 39.255) -0.989181  7.742351e-05 2020-01-01
POINT (141 39.255)      -0.501998  1.048589e-04 2020-01-01
POINT (141 39.505)      -1.358391  1.759574e-04 2020-01-01
POINT (141.2502 39.505) -2.422635  1.492516e-04 2020-01-01
POINT (141.5004 39.505) -2.833890  9.672238e-05 2020-01-01
POINT (141.5004 39.255) -1.064690  5.170836e-05 2020-01-01
POINT (141.7506 39.255) -0.178408  1.685188e-05 2020-01-01
POINT (141.7506 39.505) -2.020274  4.041514e-05 2020-01-01
POINT (142.0008 39.505)  1.377239  1.150263e-05 2020-01-01
POINT (142.251 39.505)   2.998385  3.518537e-06 2020-01-01
POINT (142.251 39.255)   3.324540  2.069931e-06 2020-01-01
POINT (142.0008 39.255)  2.107673  5.356169e-06 2020-01-01
POINT (142.251 39.005)   4.229220  3.618853e-08 2020-01-01
POINT (142.0008 39.005)  3.585160  2.301165e-06 2020-01-01
POINT (141.7506 39.005)  1.789662  7.717737e-06 2020-01-01
POINT (141.7506 38.754)  3.275328  1.274049e-06 2020-01-01
POINT (142.0008 38.754)  4.444448  4.044601e-08 2020-01-01
POINT (142.251 38.754)   4.399822  0.000000e+00 2020-01-01

In [ ]:
gdf_agg = gdf_agg.reset_index()
gdf_agg["t2m"] = gdf_agg[["t2m_mean"]]
gdf_agg["tp"] = gdf_agg[["tp_mean"]]

gdf_agg = gdf_agg.drop(columns=["t2m_mean", "tp_mean"])

In [122]:
gdf_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   geometry  24 non-null     geometry
 1   date_min  24 non-null     datetime64[ns]
 2   t2m       24 non-null     float64
 3   tp        24 non-null     float32
dtypes: datetime64[ns](1), float32(1), float64(1), geometry(1)
memory usage: 804.0 bytes

In [124]:
gdf = gpd.GeoDataFrame(gdf_agg[['date_min', 't2m', 'tp']], geometry=gdf.geometry)
# gdf = gdf.to_crs({'init': 'epsg:4326'})
gdf = gdf.set_crs('epsg:4326')

In [ ]:
import os
from datetime import datetime

# Turn into raster data
gdf["x"] = gdf["geometry"].x
gdf["y"] = gdf["geometry"].y

t2m = (gdf.set_index(["y", "x"]).t2m.to_xarray()).rio.set_crs(4326)
tp = (gdf.set_index(["y", "x"]).tp.to_xarray()).rio.set_crs(4326)

dir_path = os.path.join("temp_results", "raster")
if not os.path.exists(dir_path):
    os.makedirs(dir_path)

t2m_path = os.path.join(dir_path, f"t2m_{datetime.strftime(gdf["date_min"][0], '%Y%m%d')}.TIF")
t2m.rio.to_raster(t2m_path)

tp_path = os.path.join(dir_path, f"tp_{datetime.strftime(gdf["date_min"][0], '%Y%m%d')}.TIF")
tp.rio.to_raster(tp_path)

# Pack it

In [13]:
import xarray as xr
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')
gribfile = "../era5_cache/20260122_233148_20161_202512.grib"

In [14]:
# xarray dataset open
t2m_dataset = xr.open_dataset(gribfile, engine="cfgrib")
tp_dataset = xr.open_dataset(gribfile, engine="cfgrib", backend_kwargs={'filter_by_keys': {'shortName': 'tp'}})

# xarray dataframe making
tp_df = tp_dataset.to_dataframe().reset_index()
t2m_df = t2m_dataset.to_dataframe().reset_index()
# convert temperature (t2m) kelvin to celcius
t2m_df['t2m'] = t2m_df['t2m'].apply(lambda c: c-273.15)
# join both separate dataframe into one dataframe
join = pd.merge(t2m_df, tp_df[['tp']], on=t2m_df.index, how='left')

# convert dataframe to geodataframe to obtain the geometry features
gdf = gpd.GeoDataFrame(
    join, geometry=gpd.points_from_xy(join.longitude, join.latitude), crs="EPSG:4326"
)

# Drop unused features, create validated datetime format
gdf = gdf.drop(columns=["number", "step", "time", "surface", "key_0", "latitude", "longitude"])
gdf['date'] = pd.to_datetime(gdf['valid_time']).dt.date
gdf['date'] = pd.to_datetime(gdf['date'], format='%Y-%m-%d')
gdf['time'] = pd.to_datetime(gdf['valid_time']).dt.time

gdf.head()

skipping variable: paramId==228 shortName='tp'
Traceback (most recent call last):
  File "/Users/yylab/miniconda3/envs/exp/lib/python3.12/site-packages/cfgrib/dataset.py", line 726, in build_dataset_components
    dict_merge(variables, coord_vars)
  File "/Users/yylab/miniconda3/envs/exp/lib/python3.12/site-packages/cfgrib/dataset.py", line 642, in dict_merge
    raise DatasetBuildError(
cfgrib.dataset.DatasetBuildError: key present and new value is different: key='time' value=Variable(dimensions=('time',), data=array([1451653200, 1451739600, 1451826000, ..., 1767013200, 1767099600,
       1767186000], shape=(3653,))) new_value=Variable(dimensions=('time',), data=array([1451628000, 1451714400, 1451800800, ..., 1766988000, 1767074400,
       1767160800], shape=(3653,)))

,valid_time,t2m,tp,geometry,date,time
0,2016-01-01 13:00:00,-0.400000,1.907028e-06,POINT (141 39.505),2016-01-01,13:00:00
1,2016-01-01 13:00:00,-1.011206,9.534997e-07,POINT (141.2502 39.505),2016-01-01,13:00:00
2,2016-01-01 13:00:00,-0.932349,4.766625e-07,POINT (141.5004 39.505),2016-01-01,13:00:00
3,2016-01-01 13:00:00,-0.134985,0.000000e+00,POINT (141.7506 39.505),2016-01-01,13:00:00
4,2016-01-01 13:00:00,2.907007,0.000000e+00,POINT (142.0008 39.505),2016-01-01,13:00:00

In [15]:
# Do some grouping/aggregation based on the date
from datetime import timedelta

date_list = pd.date_range(gdf["date"].min(), gdf["date"].max()-timedelta(days=1),freq='d')
date_list

df_list = []
for d in date_list:
    # get (split) data from the same date
    df_by_date = gdf.loc[(gdf['date'] == d)]
    # group data by geometry, this will concise/aggregate data based on its geometry
    gdf_agg = df_by_date.groupby(by="geometry").agg(
        t2m_mean=('t2m', 'mean'), 
        tp_mean=('tp', 'mean'),
        date_min=('date', 'min')
    )
    # cleaning the data, flatten the df, bring back the old column name
    gdf_agg = gdf_agg.reset_index()
    gdf_agg["t2m"] = gdf_agg[["t2m_mean"]]
    gdf_agg["tp"] = gdf_agg[["tp_mean"]]
    gdf_agg["date"] = gdf_agg[["date_min"]]

    # drop the old (agg) version of columns
    gdf_agg = gdf_agg.drop(columns=["t2m_mean", "tp_mean", "date_min"])
    clean_gdf = gpd.GeoDataFrame(gdf_agg[['date', 't2m', 'tp']], geometry=gdf_agg.geometry)
    # gdf = gdf.to_crs({'init': 'epsg:4326'})
    clean_gdf = clean_gdf.set_crs('epsg:4326')
    df_list.append(clean_gdf)

In [60]:
import os, json
from datetime import datetime
# Extract metadata
import rasterio
import rasterio.features
import rasterio.warp
import numpy as np

def stat_value(band_entry):
        band = rasterio.open(band_entry)
        val = band.read(1).astype('float32')
        # Solve nan value
        val[val==np.nan] = 0
        collect = {
            "max": float(np.nanmax(val)),
            "min": float(np.nanmin(val)),
            "mean": float(np.nanmean(val)),
            "med": float(np.nanmedian(val)),
        }
        
        return collect

def extract_geom(filename):
    with rasterio.open(filename) as data:
        # Read the dataset's valid data mask as a ndarray.
        mask = data.dataset_mask()
        # Extract feature shapes and values from the array.
        # for geom, val in rasterio.features.shapes(mask, transform=data.transform):
        geom = [geom for geom, val in rasterio.features.shapes(mask, transform=data.transform)][0]

        # Transform shapes from the dataset's own coordinate
        # reference system to CRS84 (EPSG:4326).
        geom = rasterio.warp.transform_geom(data.crs, 'EPSG:4326', geom, precision=6)
        wkt_coords = [f"{(coord[0])} {(coord[1])}" for coord in geom["coordinates"][0]]
        wkt = f"POLYGON ({tuple(wkt_coords)})".replace('\'', '')

        return wkt

def export_metadata(data_path, date_acquired):

        result = {}
        result.update({"path": os.path.basename(data_path)})
        result.update({"metadata": {
                "DATE_ACQUIRED": date_acquired,
                "SPACECRAFT_ID": "ERA5",
                "WKT_COORDS": extract_geom(data_path)
            }})
        result.update({"stat_value": stat_value(data_path)})

        meta_dir_path = os.path.join("temp_results", "metadata")
        if not os.path.exists(meta_dir_path):
            os.makedirs(meta_dir_path)

        metadata_filename = os.path.join(meta_dir_path, "metadata_"+os.path.basename(data_path.replace("TIF", "json")))
        with open(metadata_filename, "w") as f:
            json.dump(result, f, indent=4)
        
        return result

# ===========================================================================================
for dfl in df_list:

    gdf = dfl
    # Turn into raster data
    gdf["x"] = gdf["geometry"].x
    gdf["y"] = gdf["geometry"].y

    t2m = (gdf.set_index(["y", "x"]).t2m.to_xarray()).rio.set_crs(4326)
    tp = (gdf.set_index(["y", "x"]).tp.to_xarray()).rio.set_crs(4326)

    dir_path = os.path.join("temp_results", "raster")
    if not os.path.exists(dir_path):
        os.makedirs(dir_path)
    
    t2m_path = os.path.join(dir_path, f"t2m_{datetime.strftime(gdf["date"][0], '%Y%m%d')}.TIF")
    t2m.rio.to_raster(t2m_path)
    export_metadata(data_path=t2m_path, date_acquired=datetime.strftime(gdf["date"][0], '%Y-%m-%d'))
    
    tp_path = os.path.join(dir_path, f"tp_{datetime.strftime(gdf["date"][0], '%Y%m%d')}.TIF")
    tp.rio.to_raster(tp_path)
    export_metadata(data_path=tp_path, date_acquired=datetime.strftime(gdf["date"][0], '%Y-%m-%d'))

In [ ]:
# {
#     "path": "S2C_MSIL1C_20251010T011711_N0511_R031_T54SWJ_20251010T041635_nbr_AOI.TIF",
#     "metadata": {
#         "PRODUCT_NAME_ID": "S2C_MSIL1C_20251010T011711_N0511_R031_T54SWJ_20251010T041635",
#         "DATE_ACQUIRED": "2025-10-10",
#         "SPACECRAFT_ID": "Sentinel-2C",
#         "WKT_COORDS": "POLYGON ((141.07487778273645 38.7604585894578, 141.09677431270626 38.83504640298379, 141.13993226578074 38.982345791376574, 141.18345853173884 39.12959509906321, 141.2273796314636 39.27679230907105, 141.27156446086656 39.42397688526174, 141.31673067018792 39.570922887458224, 141.3608416428157 39.718194756726014, 141.36977705133168 39.74822611037057, 142.28128034867092 39.74319619212293, 142.26340321919253 38.754036048213806, 141.07487778273645 38.7604585894578))"
#     },
#     "stat_value": {
#         "max": 0.0,
#         "min": -1.0194777250289917,
#         "mean": -0.14846332371234894,
#         "med": 0.0
#     }
# }

In [56]:
# with rasterio.open("/Users/yylab/ikkifik/research/era5-reanalysis/temp_results/raster/t2m_20200101.TIF") as data:
#         # Read the dataset's valid data mask as a ndarray.
#         mask = data.dataset_mask()
#         # Extract feature shapes and values from the array.
#         geom = [geom for geom, val in rasterio.features.shapes(mask, transform=data.transform)][0]
#         print(geom)

{'type': 'Polygon', 'coordinates': [[(140.8749, 38.62883333333333), (140.8749, 39.630166666666675), (142.3761, 39.630166666666675), (142.3761, 38.62883333333333), (140.8749, 38.62883333333333)]]}

In [ ]:
for number in range(24):
    # The f-string formats the number to a two-digit string, padding with a leading zero if necessary
    two_digit_str = f"{number:02d}:00"
    print(two_digit_str)

00:00
01:00
02:00
03:00
04:00
05:00
06:00
07:00
08:00
09:00
10:00
11:00
12:00
13:00
14:00
15:00
16:00
17:00
18:00
19:00
20:00
21:00
22:00
23:00

In [3]:
[f"{number:02d}:00" for number in range(24)]

['00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00']

In [7]:
[f"{number:02d}" for number in range(1, 31+1)]

['01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31']