In [4]:
from pandas import json_normalize
import json
import os

In [ ]:

dirpath = "../temp_results/metadata"

listdir = os.listdir(dirpath)

docs = []
for md in listdir:
    metadata_json_path = os.path.join(dirpath, md)

    with open(metadata_json_path) as f:
        metadata_json = json.load(f)
        docs.append(metadata_json)

df = json_normalize(docs)
df["type"] = df.apply(lambda x: x["path"].split("_")[0], axis=1)
df = df.sort_values(by=["metadata.DATE_ACQUIRED"], ascending=True)
df = df.reset_index(drop=True)

print(df.loc[0, "metadata.DATE_ACQUIRED"])
print(df.loc[len(df)-1, "metadata.DATE_ACQUIRED"])

2020-01-01
2025-11-20

In [27]:
df

,path,metadata.DATE_ACQUIRED,metadata.SPACECRAFT_ID,metadata.WKT_COORDS,stat_value.max,stat_value.min,stat_value.mean,stat_value.med,type
0,t2m_20200101.TIF,2020-01-01,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",4.444448,-2.833890,1.184042e+00,1.405498e+00,t2m
1,tp_20200101.TIF,2020-01-01,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",0.000176,0.000000,3.706246e-05,1.263179e-05,tp
2,tp_20200102.TIF,2020-01-02,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",0.000002,0.000000,1.604516e-07,1.230676e-09,tp
3,t2m_20200102.TIF,2020-01-02,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",5.011743,-1.525139,1.967284e+00,2.035259e+00,t2m
4,t2m_20200103.TIF,2020-01-03,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",5.253652,-1.450956,1.996317e+00,2.004210e+00,t2m
...,...,...,...,...,...,...,...,...,...
4297,t2m_20251118.TIF,2025-11-18,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",5.556996,-2.628864,1.592148e+00,1.411436e+00,t2m
4298,tp_20251119.TIF,2025-11-19,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",0.000065,0.000000,1.041750e-05,1.653696e-06,tp
4299,t2m_20251119.TIF,2025-11-19,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",8.701877,-0.648814,4.129547e+00,3.552428e+00,t2m
4300,t2m_20251120.TIF,2025-11-20,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",13.073005,2.123577,7.782248e+00,6.687298e+00,t2m
4301,tp_20251120.TIF,2025-11-20,ERA5,"POLYGON ((140.8749 38.628833, 140.8749 39.6301...",0.000017,0.000000,1.966021e-06,6.998224e-08,tp